h1,
h2 {
  text-align: center;
}

#content {
  margin-top: 40px;
}
.remove-todo,
.remove-todo:hover {
  float: right;
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.todolist {
  background-color: #eee;
  padding: 10px 20px;
  border-radius: 8px;
}
